In [1]:
name = "nihar handoo"
type(name)

print(name.title())
print(name.upper())
#o/p = NIHAR HANDOO

print(name.lower())
#o/p = nihar handoo

Nihar Handoo
NIHAR HANDOO
nihar handoo

In [15]:
first_name = "nihar"
last_name = "handoo"

full_name = f"{first_name}{last_name}"

print(full_name)

print(full_name.title())

print(full_name.upper())


print(f"keep up the good work,{full_name.title()}")


#adding white spaces to strings

print('\tpython') #tab delimiter
print('fav_lang:\n\tpython\n\tC++\n\tC\n\tjava') #formatted



#removing white spaces

fav_lang=' python'
print(fav_lang)

fav_lang.lstrip()
print(fav_lang)
fav_lang.rstrip()
print(fav_lang)

niharhandoo
Niharhandoo
NIHARHANDOO
keep up the good work,Niharhandoo
	python
fav_lang:
	python
	C++
	C
	java
 python
 python
 python

In [13]:

#June 26:-
#-----------

#List data type:-

#-->
#ordered collection of items

#-->
#mutable data type
#-->
my_students = ['sundar', 'kartik','mayuri','surdesh','manzoor','rahul']
type(my_students)

list

In [14]:

#Index:-
#_________

#starts from 0,1,2....

print(my_students[0])

#o/p = shag

print(my_students[2])

#modify ,alter,delete list


#my_students =['sundar', 'kartik','mayuri','surdesh','manzoor','rahul'] #0,1,2,3,4,5

#kartik to nilesh

my_students[1] = 'nilesh'
print(my_students)

#op = my_students =['sundar', 'nilesh','mayuri','surdesh','manzoor','rahul']


#append :-

my_students.append('sushmita')

#op = my_students =['sundar', 'nilesh','mayuri','surdesh','manzoor','rahul','sushmita']

#append happens at last position

print(my_students[3])


my_students.insert(2,'yasmeen')

print(my_students)

#op = my_students =['sundar', 'nilesh','yasmen','mayuri','surdesh','manzoor','rahul','sushmita']

print(my_students[2])


#diff b/w

#*****append vs insert*************************

#delete the elements

del my_students[4] # will delete suresh

print(my_students) 

#op = my_students =['sundar', 'nilesh','yasmen','mayuri','manzoor','rahul','sushmita']


# pop method 

x =my_students.pop()

print(x)

#sushmita

print(my_students) 

#op = my_students =['sundar', 'nilesh','yasmen','mayuri','manzoor','rahul'

sundar
mayuri
['sundar', 'nilesh', 'mayuri', 'surdesh', 'manzoor', 'rahul']
surdesh
['sundar', 'nilesh', 'yasmeen', 'mayuri', 'surdesh', 'manzoor', 'rahul', 'sushmita']
yasmeen
['sundar', 'nilesh', 'yasmeen', 'mayuri', 'manzoor', 'rahul', 'sushmita']
sushmita
['sundar', 'nilesh', 'yasmeen', 'mayuri', 'manzoor', 'rahul']